# THIS FILE IS AN EXAMPLE SERVICE FILE FOR SYSTEMD
[Unit]
Description=preaction-cms node app

[Service]
# SET THE ABSOLUTE PATH TO server.js
ExecStart=/var/www/preaction-cms/server.js
# AUTOMATIC RESTARTS IN CASE THE SERVER EXITS
Restart=always
# BE SURE TO VERIFY THAT THIS USER HAS APPROPRIATE FILESYSTEM WRITE ACCESS
# FOR BOTH data AND uploads DIRECTORIES
User=nobody
Group=nogroup
# YOU MAY NEED TO SET PATH VARIABLE SO THE CORRECT VERSION OF NODE IS USED
Environment=PATH=/opt/node-v12/bin:/usr/bin:/usr/local/bin
# SEE https://duhdugg.github.io/preaction-cms/#libenv FOR ALL ENVIRONMENT VARIABLES
Environment=NODE_ENV=production
# THESE COOKIE VARIABLES ARE THE MOST SECURE CHOICES AND
# REQUIRE HTTPS CONFIGURATION ON A LOAD BALANCER
Environment=CMS_COOKIE_SAMESITE=strict
Environment=CMS_COOKIE_SECURE=1
Environment=CMS_COOKIE_SECRET=You-Should-Gener@te-Your-0wn-Random~$trings
Environment=CMS_COOKIE_PROXY=1
# ----
# ALTERNATIVELY, YOU MAY DECIDE TO DO ALL UPDATES ON YOUR LOCAL MACHINE,
# AND DEPLOY CHANGES TO THE DATABASE AND UPLOADS VIA SFTP OR SIMILAR METHOD,
# IN WHICH CASE YOU WOULD USE READONLY MODE TO DISABLE ALL LIVE UPDATES
# CMS_READONLY=1
# ----
# THIS ENSURES THAT AUTOMATIC DATABASE BACKUPS TAKE PLACE WITH EVERY CHANGE
Environment=CMS_DB_BACKUP=1
Environment=CMS_PORT=8999
# FOR SEO, YOU SHOULD SPECIFY THE CORRECT BASE URL FOR YOUR WEBSITE
Environment=CMS_SITEMAP_HOSTNAME=https://example.com
# ABSOLUTE PATH TO preaction-cms DIRECTORY
WorkingDirectory=/var/www/preaction-cms

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
