@mixin default-overrides {
  hr {
    margin: 0;
  }
  .pxn-boilerplate .pxn-hero {
    margin-bottom: 0;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .pxn-modal .pxn-input {
    margin-bottom: 1rem;
  }
  .App.non-editable .ql-bubble a {
    &::before,
    &::after {
      display: none;
    }
  }
}
@include default-overrides;

@mixin login-page {
  .App .login {
    margin-top: 1rem;
    .pxn-input {
      margin-bottom: 1rem;
    }
  }
}
@include login-page;
@mixin page-rules {
  .page {
    .page-block,
    .page-block-content {
      &.nopad-body > .card > .card-body {
        padding: 0;
      }
      > .card > .card-header {
        h6,
        h5,
        h4,
        h3,
        h2,
        h1 {
          margin-bottom: 0;
        }
        h6,
        h5,
        h4 {
          font-size: 1em;
        }
        h3 {
          font-size: 1.17em;
        }
        h2 {
          font-size: 1.5em;
        }
        h1 {
          font-size: 2em;
        }
      }
      > .card > .card-footer {
        padding: 0;
      }
      margin-bottom: 1rem;
    }
    .page-block {
      .pxn-input-wysiwyg {
        margin-bottom: 0 !important;
      }
      .page-block-content {
        .pxn-input-wysiwyg label {
          display: none;
        }
        .ql-container {
          font-size: 1rem;
          font-family: var(--bs-font-sans-serif);
          &.ql-bubble:not(.ql-disabled) a {
            white-space: pre-wrap;
          }
        }
        .ql-editor {
          overflow: hidden;
          padding: 0;
        }
        .ql-font-monospace {
          font-family: var(--bs-font-monospace);
        }
        .ql-toolbar.ql-snow,
        .ql-container.ql-snow {
          border: 0;
        }
        .ql-toolbar.ql-snow {
          background-color: var(--bs-white);
        }
        .ql-tooltip {
          z-index: 99999;
        }
      }
    }
    .page-block:last-child {
      margin-bottom: 0;
    }
    .page-block-content:last-child {
      margin-bottom: 0;
    }
    .page-block.block-type-carousel {
      .slick-slide > div {
        font-size: 0;
      }
      .slick-list {
        background-color: #000000;
      }
      .carousel-center-mode,
      .thumbnail-pagination {
        .slick-slide {
          opacity: 0.5;
          transition: opacity 300ms linear;
          &:hover {
            opacity: 0.75;
          }
          &.slick-center {
            opacity: 1;
          }
        }
      }
      .thumbnail-pagination,
      .carousel-focus-on-select {
        .slick-slide .img {
          cursor: pointer;
        }
      }
    }
    .page-block.block-type-content {
      .upload-images-icon {
        svg:nth-child(1) {
          font-size: 1.25rem;
        }
        svg:nth-child(2) {
          font-size: 0.6rem;
          position: absolute;
          left: 30%;
          top: 20%;
          color: var(--bs-gray);
        }
      }
      .linked-image-icon {
        svg:nth-child(1) {
          font-size: 1.25rem;
        }
        svg:nth-child(2) {
          font-size: 0.8rem;
          position: absolute;
          left: 30%;
          top: 15%;
          color: var(--bs-gray);
        }
      }
    }
    .page-block.block-type-spacer {
      margin-top: 0;
      margin-bottom: 0;
    }
    .page-controls {
      margin-bottom: 1rem;
      button {
        margin-left: 1rem;
        margin-top: 1rem;
      }
      .dropdown-menu {
        a {
          color: var(--bs-dark);
        }
        a:active {
          color: var(--bs-light);
        }
      }
    }
  }
}
@include page-rules;

@mixin carousel-dark-controls {
  button.slick-arrow:before,
  .slick-dots > li > button:before,
  .slick-dots > li.slick-active > button:before {
    color: var(--bs-dark);
  }
}
@include carousel-dark-controls;
@mixin carousel-light-controls {
  button.slick-arrow:before,
  .slick-dots > li > button:before,
  .slick-dots > li.slick-active > button:before {
    color: var(--bs-light);
  }
}
@mixin blue-links {
  @include carousel-dark-controls;
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-blue);
  }
}
@mixin light-links {
  @include carousel-light-controls;
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-light);
  }
}
@mixin dark-links {
  @include carousel-dark-controls;
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-dark);
  }
}
@mixin link-color-fixes {
  .pxn-theme-blue-links {
    @include blue-links;
    .pxn-theme-light-links {
      @include light-links;
    }
    .pxn-theme-dark-links {
      @include dark-links;
    }
  }
  .pxn-theme-light-links {
    @include light-links;
    .pxn-theme-blue-links {
      @include blue-links;
    }
    .pxn-theme-dark-links {
      @include dark-links;
    }
  }
  .pxn-theme-dark-links {
    @include dark-links;
    .pxn-theme-blue-links {
      @include blue-links;
    }
    .pxn-theme-light-links {
      @include light-links;
    }
  }
}
@include link-color-fixes;

@mixin border-colors {
  .card-border-danger > .card {
    border: 1px solid var(--bs-danger);
  }

  .card-border-dark > .card {
    border: 1px solid var(--bs-dark);
  }

  .card-border-info > .card {
    border: 1px solid var(--bs-info);
  }

  .card-border-light > .card {
    border: 1px solid var(--bs-light);
  }

  .card-border-primary > .card {
    border: 1px solid var(--bs-primary);
  }

  .card-border-secondary > .card {
    border: 1px solid var(--bs-secondary);
  }

  .card-border-success > .card {
    border: 1px solid var(--bs-success);
  }

  .card-border-transparent > .card {
    border: 1px solid var(--bs-transparent);
  }

  .card-border-warning > .card {
    border: 1px solid var(--bs-warning);
  }

  .card-border-white > .card {
    border: 1px solid var(--bs-white);
  }
}
@include border-colors;

@mixin active-submenu-themes {
  // default
  ul.nav .dropdown-menu a.dropdown-item {
    color: var(--bs-dark);
  }
  .nav-active-submenu-theme-danger {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-danger);
        color: var(--bs-light);
      }
    }
  }
  .nav-active-submenu-theme-dark {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-dark);
        color: var(--bs-light);
      }
    }
  }
  .nav-active-submenu-theme-info {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-info);
        color: var(--bs-dark);
      }
    }
  }
  .nav-active-submenu-theme-light {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-light);
        color: var(--bs-dark);
      }
    }
  }
  .nav-active-submenu-theme-primary {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-primary);
        color: var(--bs-light);
      }
    }
  }
  .nav-active-submenu-theme-secondary {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-secondary);
        color: var(--bs-light);
      }
    }
  }
  .nav-active-submenu-theme-success {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-success);
        color: var(--bs-light);
      }
    }
  }
  .nav-active-submenu-theme-warning {
    ul.nav .dropdown-menu {
      a.dropdown-item.active,
      a.dropdown-item:active {
        background-color: var(--bs-warning);
        color: var(--bs-dark);
      }
    }
  }
}
@include active-submenu-themes;

@mixin active-tab-themes {
  .nav-active-tab-theme-danger {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-danger);
      color: var(--bs-light);
    }
  }
  .nav-active-tab-theme-dark {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-dark);
      color: var(--bs-light);
    }
  }
  .nav-active-tab-theme-info {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-info);
      color: var(--bs-dark);
    }
  }
  .nav-active-tab-theme-light {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-light);
      color: var(--bs-dark);
    }
  }
  .nav-active-tab-theme-primary {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-primary);
      color: var(--bs-light);
    }
  }
  .nav-active-tab-theme-secondary {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-secondary);
      color: var(--bs-light);
    }
  }
  .nav-active-tab-theme-success {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-success);
      color: var(--bs-light);
    }
  }
  .nav-active-tab-theme-warning {
    ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
      background-color: var(--bs-warning);
      color: var(--bs-dark);
    }
  }
}
@include active-tab-themes;
