hr {
  margin: 0;
}

.ql-editor {
  padding: 0 !important;
}

.settings-component .card {
  margin-bottom: 1em;
}

.settings-component .alert a {
  color: var(--dark) !important;
  text-decoration: underline !important;
}

.spinner-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4,
.page .card .card-header h3,
.page .card .card-header h2,
.page .card .card-header h1 {
  margin-bottom: 0;
}
.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4 {
  font-size: 1em;
}
.page .card .card-header h3 {
  font-size: 1.17em;
}
.page .card .card-header h2 {
  font-size: 1.5em;
}
.page .card .card-header h1 {
  font-size: 2em;
}

.page-block {
  background-color: transparent;
  border: 0;
}

.page-block > .card-body {
  padding: 0;
}

.page-block > .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.page-block > .card-body {
  padding: 0;
}

.page-block > .card-footer {
  padding: 0;
}

.page-block-content,
.page-block {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 1em;
}

.block-type-content > .card-body > .row > div:last-child > .page-block-content {
  margin-bottom: 0;
}

.block-type-content .page-block-content > .card-footer {
  padding: 0;
}

.page .page-controls {
  margin-bottom: 1em;
}

.page .page-controls button {
  margin-left: 1em;
  margin-top: 1em;
}

.page .page-block .preaction.wysiwyg {
  margin-bottom: 0 !important;
}

.modal-content {
  border: 0;
}
.modal-content .modal-header,
.modal-content .modal-footer {
  border: 0;
}

.wysiwyg label {
  display: none;
}

.wysiwyg .modal label {
  display: inline-block;
}

.wysiwyg .ql-container {
  font-size: 1rem;
  font-family: var(--font-family-sans-serif);
}

.ql-font-monospace {
  font-family: var(--font-family-monospace);
}

.wysiwyg .ql-toolbar.ql-snow,
.wysiwyg .ql-container.ql-snow {
  border: 0;
}

.wysiwyg .ql-toolbar.ql-snow {
  background-color: var(--white);
}

.wysiwyg .ql-tooltip {
  z-index: 99999;
}

.wysiwyg .ql-editor {
  overflow: hidden;
}

.App.non-editable .wysiwyg a:hover::before,
.App.non-editable .wysiwyg a:hover::after {
  display: none;
}

.App .login {
  margin-bottom: 1rem;
}

.upload-images-icon svg:nth-child(1) {
  font-size: 1.25rem;
}

.upload-images-icon svg:nth-child(2) {
  font-size: 0.6rem;
  position: absolute;
  left: 30%;
  top: 20%;
  color: var(--gray);
}

.linked-image-icon svg:nth-child(1) {
  font-size: 1.25rem;
}

.linked-image-icon svg:nth-child(2) {
  font-size: 0.8rem;
  position: absolute;
  left: 30%;
  top: 15%;
  color: var(--gray);
}

/* link colors */

.page-block a {
  color: var(--primary);
}

.text-dark:not(.bg-warning) .page-block a {
  color: var(--primary);
}

.bg-warning .page-block a {
  color: var(--dark);
}

.page-controls > .nav > .nav-item > a.nav-link {
  color: var(--dark);
}

.text-light .page-block a {
  color: var(--light);
}

.text-light .page-controls > .nav > .nav-item > a.nav-link {
  color: var(--light);
}

.text-dark .page-controls > .nav > .nav-item > a.nav-link {
  color: var(--dark);
}

.text-dark .text-light .page-controls > .nav > .nav-item > a.nav-link {
  color: var(--light);
}

.text-dark
  .text-light
  .text-dark
  .page-controls
  > .nav
  > .nav-item
  > a.nav-link {
  color: var(--dark);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent) {
  color: var(--dark);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent) .page-block a {
  color: var(--primary);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-controls
  > .nav
  > .nav-item
  > a.nav-link {
  color: var(--dark);
}

.page-block > .text-dark a,
.page-block-content > .text-dark a {
  color: var(--primary);
}

.page-block > .text-light a,
.page-block-content > .text-light a {
  color: var(--light);
}

.page-block > .bg-warning a,
.page-block-content > .bg-warning a {
  color: var(--dark);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block
  > .text-light
  a,
.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block-content
  > .text-light
  a {
  color: var(--light);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block
  > .text-dark
  a,
.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block-content
  > .text-dark
  a {
  color: var(--primary);
}

.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block
  > .bg-warning
  a,
.jumbotron:not(.text-light):not(.text-dark):not(.bg-transparent)
  .page-block-content
  > .bg-warning
  a {
  color: var(--dark);
}

.page-block > .text-light .page-block-content > .text-dark:not(.bg-warning) a {
  color: var(--primary);
}

.page-block > .bg-warning .page-block-content > .text-dark:not(.bg-warning) a {
  color: var(--primary);
}

.page-block > .bg-warning .page-block-content > .text-light a {
  color: var(--light);
}
