.App.nav-position-above-header header .nav,
.App.nav-position-below-header header .nav {
  margin-bottom: 1em;
}

hr {
  margin: 0;
}

.ql-editor {
  padding: 0 !important;
}

.settings-component .card {
  margin-bottom: 1em;
}

.settings-component .alert a {
  color: var(--dark) !important;
  text-decoration: underline !important;
}

.spinner-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4,
.page .card .card-header h3,
.page .card .card-header h2,
.page .card .card-header h1 {
  margin-bottom: 0;
}
.page .card .card-header h6,
.page .card .card-header h5,
.page .card .card-header h4 {
  font-size: 1em;
}
.page .card .card-header h3 {
  font-size: 1.17em;
}
.page .card .card-header h2 {
  font-size: 1.5em;
}
.page .card .card-header h1 {
  font-size: 2em;
}

.page-block-outer,
.page-block-inner {
  background-color: transparent;
  border: 0;
}

.page-block-outer > .card-body {
  padding: 0;
}

.page-block-inner > .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.page-block-inner > .card-body {
  padding: 0;
}

.page-block-inner > .card-footer {
  padding: 0;
}

.page-block-content,
.page-block-inner {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 1em;
}

.block-type-content
  .page-block-inner
  > .card-body
  > .row
  > div:last-child
  > .page-block-content {
  margin-bottom: 0;
}

.block-type-content .page-block-content > .card-footer {
  padding: 0;
}

.page .page-controls {
  margin-bottom: 1em;
}

.page .page-controls button {
  margin-left: 1em;
  margin-top: 1em;
}

.page .page-block .preaction.wysiwyg {
  margin-bottom: 0 !important;
}

.modal-content {
  border: 0;
}
.modal-content .modal-header,
.modal-content .modal-footer {
  color: var(--light);
  background-color: var(--dark);
  border: 0;
}
.modal-content .modal-header button {
  color: var(--white);
}

.wysiwyg label {
  display: none;
}

.wysiwyg .modal label {
  display: inline-block;
}

.wysiwyg .ql-container {
  font-size: 1rem;
  font-family: var(--font-family-sans-serif);
}

.ql-font-monospace {
  font-family: var(--font-family-monospace);
}

.wysiwyg .ql-toolbar.ql-snow,
.wysiwyg .ql-container.ql-snow {
  border: 0;
}

.wysiwyg .ql-toolbar.ql-snow {
  background-color: var(--white);
}

.wysiwyg .ql-tooltip {
  z-index: 99999;
}

.wysiwyg .ql-editor {
  overflow: hidden;
}

.App.non-editable .wysiwyg a:hover::before,
.App.non-editable .wysiwyg a:hover::after {
  display: none;
}

.App .login {
  margin-bottom: 1rem;
}

.upload-images-icon svg:nth-child(1) {
  font-size: 1.25rem;
}

.upload-images-icon svg:nth-child(2) {
  font-size: 0.6rem;
  position: absolute;
  left: 30%;
  top: 20%;
  color: var(--gray);
}

.linked-image-icon svg:nth-child(1) {
  font-size: 1.25rem;
}

.linked-image-icon svg:nth-child(2) {
  font-size: 0.8rem;
  position: absolute;
  left: 30%;
  top: 15%;
  color: var(--gray);
}
