hr {
  margin: 0;
}

.ql-editor {
  padding: 0 !important;
}

.settings-component {
  .card {
    margin-bottom: 1em;
  }
  .alert a {
    color: var(--dark) !important;
    text-decoration: underline !important;
  }
}

.theme-examples .badge {
  margin-right: 1em;
}

.spinner-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.page .card .card-header {
  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-bottom: 0;
  }
  h6,
  h5,
  h4 {
    font-size: 1em;
  }
  h3 {
    font-size: 1.17em;
  }
  h2 {
    font-size: 1.5em;
  }
  h1 {
    font-size: 2em;
  }
}

.page-block {
  background-color: transparent;
  border: 0;
  > .card-footer {
    padding: 0;
  }
}

.page-block-content,
.page-block {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 1em;
}

.block-type-carousel {
  .slick-slide > div {
    font-size: 0;
  }
}

.block-type-carousel {
  .slick-list {
    background-color: #000000;
  }
  .carousel-center-mode,
  .thumbnail-pagination {
    .slick-slide {
      opacity: 0.5;
      transition: opacity 300ms linear;
      &:hover {
        opacity: 0.75;
      }
      &.slick-center {
        opacity: 1;
      }
    }
  }
  .thumbnail-pagination,
  .carousel-focus-on-select {
    .slick-slide .img {
      cursor: pointer;
    }
  }
}

.block-type-content {
  > .card-body > .row > div:last-child > .page-block-content {
    margin-bottom: 0;
  }
  .page-block-content > .card-footer {
    padding: 0;
  }
}

.page .page-controls {
  margin-bottom: 1em;
  button {
    margin-left: 1em;
    margin-top: 1em;
  }
}

.page .page-block .preaction.wysiwyg {
  margin-bottom: 0 !important;
}

.modal-content {
  .modal-header,
  .modal-footer {
    border: 0;
  }
}

.wysiwyg {
  label {
    display: none;
  }
  .modal label {
    display: inline-block;
  }
  .ql-container {
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
  }
  .ql-container.ql-bubble:not(.ql-disabled) a {
    white-space: pre-wrap;
  }
  .ql-toolbar.ql-snow,
  .ql-container.ql-snow {
    border: 0;
  }
  .ql-toolbar.ql-snow {
    background-color: var(--white);
  }

  .ql-tooltip {
    z-index: 99999;
  }

  .ql-editor {
    overflow: hidden;
  }
}

.ql-font-monospace {
  font-family: var(--font-family-monospace);
}

.App.non-editable .wysiwyg a:hover::before,
.App.non-editable .wysiwyg a:hover::after {
  display: none;
}

.App .login {
  margin-bottom: 1rem;
}

.upload-images-icon {
  svg:nth-child(1) {
    font-size: 1.25rem;
  }

  svg:nth-child(2) {
    font-size: 0.6rem;
    position: absolute;
    left: 30%;
    top: 20%;
    color: var(--gray);
  }
}

.linked-image-icon {
  svg:nth-child(1) {
    font-size: 1.25rem;
  }

  svg:nth-child(2) {
    font-size: 0.8rem;
    position: absolute;
    left: 30%;
    top: 15%;
    color: var(--gray);
  }
}

.nav-tabs {
  border-bottom: 0;
}

/* link colors */

@mixin carousel-light-bg-controls {
  button.slick-arrow:before,
  .slick-dots > li > button:before,
  .slick-dots > li.slick-active > button:before {
    color: var(--dark);
  }
}

@mixin carousel-dark-bg-controls {
  button.slick-arrow:before,
  .slick-dots > li > button:before,
  .slick-dots > li.slick-active > button:before {
    color: var(--light);
  }
}

@mixin section-light-bg-links {
  .page-block a {
    color: var(--primary);
  }
  ul.nav > li.nav-item > a.nav-link {
    color: var(--primary);
  }
  ul.nav.nav-pills > li.nav-item > a.nav-link.active {
    background-color: var(--primary);
    color: var(--light);
  }
  .page-controls > .nav > .nav-item > a.nav-link {
    color: var(--dark);
  }
  @include carousel-light-bg-controls;
}

@mixin section-dark-bg-links {
  .page-block a {
    color: var(--light);
  }
  ul.nav > li.nav-item > a.nav-link {
    color: var(--light);
  }
  ul.nav.nav-pills > li.nav-item > a.nav-link.active {
    background-color: var(--light);
    color: var(--dark);
  }
  .page-controls > .nav > .nav-item > a.nav-link {
    color: var(--light);
  }
  @include carousel-dark-bg-controls;
}

@mixin section-warning-bg-links {
  .page-block a {
    color: var(--dark);
  }
  ul.nav > li.nav-item > a.nav-link {
    color: var(--dark);
  }
  ul.nav.nav-pills > li.nav-item > a.nav-link.active {
    background-color: var(--dark);
    color: var(--light);
  }
  .page-controls > .nav > .nav-item > a.nav-link {
    color: var(--dark);
  }
  @include carousel-light-bg-controls;
}

@mixin page-block-and-content-rules {
  .page-block,
  .page-block-content {
    &.text-light {
      a {
        color: var(--light);
      }
      @include carousel-dark-bg-controls;
    }
    &.bg-light,
    &.bg-white {
      a {
        color: var(--primary);
      }
      @include carousel-light-bg-controls;
    }
    &.bg-warning {
      a {
        color: var(--dark);
      }
      @include carousel-light-bg-controls;
    }
  }
  .page-block.text-light,
  .page-block-bg-light,
  .page-block.bg-white,
  .page-block.bg-warning {
    .page-block-content {
      &.text-light {
        a {
          color: var(--light);
        }
        @include carousel-dark-bg-controls;
      }
      &.bg-light,
      &.bg-white {
        a {
          color: var(--primary);
        }
        @include carousel-light-bg-controls;
      }
      &.bg-warning {
        a {
          color: var(--dark);
        }
        @include carousel-light-bg-controls;
      }
    }
  }
}

@mixin jumbotron-rules {
  .jumbotron:not(.bg-transparent) {
    color: var(--dark);
    @include section-light-bg-links;
  }
  .jumbotron.text-light {
    @include section-dark-bg-links;
  }
  .jumbotron.bg-warning {
    @include section-warning-bg-links;
  }
  .jumbotron {
    @include page-block-and-content-rules;
  }
}

@include section-light-bg-links;
@include jumbotron-rules;
@include page-block-and-content-rules;

.text-light {
  @include section-dark-bg-links;
  @include jumbotron-rules;
  @include page-block-and-content-rules;
  .bg-light,
  .bg-white {
    @include section-light-bg-links;
    @include page-block-and-content-rules;
  }
  .bg-warning {
    @include section-warning-bg-links;
    @include page-block-and-content-rules;
  }
}

.bg-warning {
  @include section-warning-bg-links;
  @include jumbotron-rules;
  @include page-block-and-content-rules;
  .bg-light,
  .bg-white {
    @include section-light-bg-links;
    @include page-block-and-content-rules;
  }
  .text-light {
    @include section-dark-bg-links;
    @include page-block-and-content-rules;
  }
}

ul.nav.nav-tabs > li.nav-item > a.nav-link.active {
  border: 1px solid transparent;
}

.App.nav-active-tab-theme-danger
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--danger);
  color: var(--light);
}

.App.nav-active-tab-theme-dark
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--dark);
  color: var(--light);
}

.App.nav-active-tab-theme-info
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--info);
  color: var(--light);
}

.App.nav-active-tab-theme-light
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--light);
  color: var(--dark);
}

.App.nav-active-tab-theme-primary
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--primary);
  color: var(--light);
}

.App.nav-active-tab-theme-secondary
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--secondary);
  color: var(--light);
}

.App.nav-active-tab-theme-success
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--success);
  color: var(--light);
}

.App.nav-active-tab-theme-warning
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--warning);
  color: var(--dark);
}

.App.nav-active-tab-theme-white
  ul.nav.nav-tabs
  > li.nav-item
  > a.nav-link.active {
  background-color: var(--white);
  color: var(--dark);
}

.App.nav-active-submenu-theme-danger ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--danger);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-dark ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--dark);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-info ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--info);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-primary ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--primary);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-secondary ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--secondary);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-success ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--success);
    color: var(--light);
  }
}

.App.nav-active-submenu-theme-warning ul.nav .dropdown-menu {
  a.dropdown-item.active,
  a.dropdown-item:active {
    background-color: var(--warning);
    color: var(--dark);
  }
}
