.App .pxn-boilerplate .pxn-hero {
  margin-bottom: 0;
}

.page {
  .page-block,
  .page-block-content {
    &.nopad-body > .card > .card-body {
      padding: 0;
    }
    > .card > .card-footer {
      padding: 0;
    }
    margin-bottom: 1rem;
  }
  .page-block {
    .pxn-input-wysiwyg {
      margin-bottom: 0 !important;
    }
    .page-block-content {
      .pxn-input-wysiwyg label {
        display: none;
      }
      .ql-editor {
        padding: 0;
      }
    }
  }
  .page-block:last-child {
    margin-bottom: 0;
  }
  .page-block-content:last-child {
    margin-bottom: 0;
  }
  .page-block.block-type-spacer {
    margin-top: 0;
    margin-bottom: 0;
  }
  .page-controls {
    margin-bottom: 1rem;
    button {
      margin-left: 1rem;
      margin-top: 1rem;
    }
    .dropdown-menu {
      a {
        color: var(--bs-dark);
      }
      a:active {
        color: var(--bs-light);
      }
    }
  }
}

@mixin blue-links {
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-blue);
  }
}
@mixin light-links {
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-light);
  }
}
@mixin dark-links {
  a,
  a:hover,
  a:active,
  a:focus {
    color: var(--bs-dark);
  }
}
.pxn-theme-blue-links {
  @include blue-links;
  .pxn-theme-light-links {
    @include light-links;
  }
  .pxn-theme-dark-links {
    @include dark-links;
  }
}
.pxn-theme-light-links {
  @include light-links;
  .pxn-theme-blue-links {
    @include blue-links;
  }
  .pxn-theme-dark-links {
    @include dark-links;
  }
}
.pxn-theme-dark-links {
  @include dark-links;
  .pxn-theme-blue-links {
    @include blue-links;
  }
  .pxn-theme-light-links {
    @include light-links;
  }
}

.card-border-danger > .card {
  border: 1px solid var(--bs-danger);
}

.card-border-dark > .card {
  border: 1px solid var(--bs-dark);
}

.card-border-info > .card {
  border: 1px solid var(--bs-info);
}

.card-border-light > .card {
  border: 1px solid var(--bs-light);
}

.card-border-primary > .card {
  border: 1px solid var(--bs-primary);
}

.card-border-secondary > .card {
  border: 1px solid var(--bs-secondary);
}

.card-border-success > .card {
  border: 1px solid var(--bs-success);
}

.card-border-transparent > .card {
  border: 1px solid var(--bs-transparent);
}

.card-border-warning > .card {
  border: 1px solid var(--bs-warning);
}

.card-border-white > .card {
  border: 1px solid var(--bs-white);
}
