.spinner-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.page .page-controls {
  margin-bottom: 1em;
}

.page .page-controls button {
  margin-left: 1em;
  margin-top: 1em;
}

.page .page-block .preaction.wysiwyg {
  margin-bottom: 0 !important;
}

.card.page-block-outer,
.card.page-block-inner {
  border: 0;
}

.card.page-block-content {
  border: 1px solid #333;
  margin-bottom: 1em;
}
